<!--  user#show -->

<!--  user profile information -->
<h3><%= @user.name %></h3>
<h3>Email: <%= @user.email %></h3>
<img src="<%= @user.image %>" width=50><br><br>

<!--  store information -->
<% if @user.store.nil? %>
  <%= link_to "Create a Store", new_store_path, class: "btn btn-default" %>
<% else %>
  <h3>Store: <%= link_to @user.store.name, store_path(@user.store) %></h3>
  <h3>Store Address: <%= @user.store.address %></h3><br>
  <%= link_to "Edit Store Information", edit_user_path(@user), class: "btn btn-default" %>
<% end %>
