<!--  user#show -->

<!--  user profile information -->
<div class="panel panel-default">
  <div class="panel-heading">Profile</div>
</div>
<%= form_tag add_user_name_path(@user), method: "post" do %>
  <strong>Name: </strong><%= text_field_tag 'user[name]', @user.name %>
  <%= submit_tag "Submit" %>
<% end %>
<strong>Email: </strong><%= @user.email %>
<img src="<%= @user.image %>" width=50><br><br>
<%= link_to "Update or Cancel Account", edit_user_registration_path, class: "btn btn-default" %><br><br><br>

<!--  display user's stores -->
<div class="panel panel-default">
  <div class="panel-heading">Your Stores</div>
</div>
<%= render @user.stores %>

<!--  button to create new store -->
<%= link_to "Set up a Store", new_user_store_path(current_user), class: "btn btn-default" %>
