<!--  wines#show -->

<!--  wine information -->
<h3><%= @wine.name %>
  <!--  edit wine button -->
  <%= link_to("Edit Wine", edit_store_wine_path(@store, @wine), class: "btn btn-default pull-right") if user_signed_in? && @store%>
</h3>
<strong>Type: </strong><%= @wine.color %><br>
<strong>Varietal: </strong><%= @wine.grape %><br>
<strong>Price: </strong>$<%= @wine.price %><br>
<strong>Description: </strong><%= @wine.description %><br>

<!--  post a comment -->
<br>
<a href=<%=wine_comments_path(@wine)%>>See Comments</a><br>
<a href=<%=new_wine_comment_path(@wine)%>>Post a Comment</a>

<!--  where wine is sold -->
<h3>Stores Selling this Wine:</h3>
<%= render @wine.stores %>